<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3><%= @survey.title %></h3>
      <form action = "/responses" method="POST" >
        <% @survey.questions.each do |question| %>
          <h4> <%=question.content %> </h4>
            <% question.answers.each do |answer| %>
              <div class="radio">
                <label>
                  <input type="radio" name=<%= "#{question.id}" %> value = <%= "#{answer.id}" %>> <%=answer.content %>
                </label>
              </div>
            <%end%>
        <%end%>
        <button type="submit" class="btn btn-danger take-survey">Submit!</button>
      </form>
    </div>
  </div>
</div>